/* .container {
  display: flex;
  align-items: initial;
  margin-top: 16px;
  height: 40px;
  color: whitesmoke;
  border-color: whitesmoke;
}

.container:hover {
  color: #f0f0f0;
  transition: 0.2s;
} 
.label{
  color: whitesmoke;
} */

.label {
  /* background-color: #d3a9f1;
  transition: 0.5s; */
  color: #d3a9f1;
}

.label:hover {
  transition: 0.5s;
  color: #662d91;
}
