.searchBarContainer {
  background-color: #662d91;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  left: 200px;
  top: 40px;
}

.autoCompleteOuterContainer--searchBar {
  border: none;
}

.infoCardImage--ysaInfoCard{
    width: 40%;
    height: 40%;
    align-items: center;

}

.infoCardImageContainer--ysaInfoCard{
    background-color: #662d91;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoCardContainer--ysaInfoCard{
    background-color: #662d91;
    background-image: url("https://hiringcoders11.vtexassets.com/arquivos/backgroundImgYsa.jpg");
    background-repeat: no-repeat;
    padding: 0;
}


.infoCardHeadline--ysaInfoCard{
    color: white;
}

.infoCardSubhead--ysaInfoCard{
    color: white;
}

.container{
  background-color: white;
}

/* ---funciona---- */
/* .imageElement {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.imageElement--imageHeaderLogo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 150px;
  height: 150px;
} */
