.flexRowContent--headerContainer {
  background-color: rgba(102, 45, 145, 0.95);
  height: 80px;
}

.flexColChild--headerLogo {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* footer */
.imageElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColChild {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.flexColChild--footer-payment {
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.flexColChild--footer-social {
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.flexRowContent--footer-parceria {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowContent {
  padding: 0;
}

.flexRow--footer-payment-social {
  background-color: #d3a9f1;
}
.flexRow--footer-link {
  background-color: #d3a9f1;
}

.flexRow--footer-copyright {
  background-color: #662d91;
}
